<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>鰻魚燒的購物網站</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!--上方導覽列-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img src="/image/shopping-cart.png" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">首頁 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cart">購物車</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            會員專區
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/account">個人資料</a>
            <a class="dropdown-item" href="/users/likeCommodities">我的最愛商品</a>
            <a class="dropdown-item" href="/order/records">最近購買紀錄</a>
            </div>
        </li>
        {{#if user.isAdmin}}
        <li class="nav-item dropdown ml-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="/image/gear.png" width="30" height="30" alt="">
            管理員專區
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/commodities">商品列表</a>
            <a class="dropdown-item" href="/admin/categories">商品分類</a>
            <a class="dropdown-item" href="/admin/users">顧客列表</a>
            </div>
        </li>
        {{/if}}
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/search" method="get">
            <input class="form-control mr-sm-2" type="search" name="name" placeholder="搜尋商品" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
        </form>
        {{#if isAuthenticated}}
            <a href="/users/logout" class="btn btn-outline-primary ml-3" type="button">登出</a>
        {{else}} 
            <a href="/users/login" class="btn btn-outline-primary ml-3" type="button">登入</a>           
        </div>
        {{/if}}
    </div>
    </nav>
    <div class="row">
        {{{ body }}}
    </div>
    <!--
    <div class="container-fluid footer">
        <p class="m-3">
        <a class="btn btn-primary mr-2" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">聯絡資訊</a>
        <button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">關於我們</button>
        </p>
        <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body mb-5">
                <p>營業時間：08:00 - 20:00 ，全年無休</p>
                <p>電話：<a href="tel:+023415575">02-3415575</a></p>
                <p>信箱：<a href="mailto:ytmjateweo@iubridge.com">ytmjateweo@iubridge.com</a></p>
                <p>地址：台北市大安區建國南路一段3545號</p>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body mb-4">
                獨立開發的小型專案，主要用來複習express框架和MySQL資料庫的建構，以及額外嘗試現金流相關串接，網站所使用的資料皆為假資料，僅作為展示用途請勿當真。
                如果專案有任何指教，歡迎寄信到<a href="mailto:cindy20303705@gmail.com">cindy20303705@gmail.com</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    -->  
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>