<div class="col-sm-8 commodityBody">
  <div class="commodityTitle container d-flex flex-column align-items-center mt-4 mb-5 p-3">
        <h4 class="display-4 mr-3">網頁出現一些錯誤</h4>
        <p>{{err}}</p>
        <div class="btn-group m-2" role="group" aria-label="Basic example">
        <a class="btn btn-success" type="button" onclick="history.go(-1)">返回上一頁</a>
        <a class="btn btn-primary" type="button" href="/">回首頁</a>
        </div>   
        <br> 
    </div>
</div>
