/* main.handlebars共用部分 */
body {
	background: #2980b9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c3e50,
		#2980b9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c3e50,
		#2980b9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0%;
	background-color: rgb(247, 243, 243);
}

/*註冊登入頁面*/
.registerBody,
.loginBody {
	position: relative;
	left: 25%;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 20px;
}

/*後台商品總表頁面*/
.commodityBody {
	left: 15%;
}

.commodityLi {
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*後台單一商品頁面*/
.showCommodity {
	left: 20%;
}
